/* Estilos de Bootstrap modificados */
.navbar {margin:0;}
.navbar-collapse {padding: 0}
.navbar-toggle {margin-top: 1.560em}
.dropdown-menu {background:transparent !important; padding:0; box-shadow: none}
.dropdown-menu li a {background: #E0E0DC !important;}
.dropdown-menu li:nth-child(3n+1) a:hover {background:rgba(0,183,255,0.7) !important;}
.dropdown-menu li:nth-child(3n+2) a:hover {background:rgba(255,245,0,0.7) !important;}
.dropdown-menu li:nth-child(3n+3) a:hover {background:rgba(218,0,128,0.7) !important;}

.open {background: #E0E0DC}

.thumbnail {padding: 0; border: none; border-radius: 0; background: transparent; position: relative;margin-bottom: 30px;}
.imgSeleccionadas i {position: absolute; right: 0.5em; top: 0.5em;background: #fff; color: #337ab7; cursor: pointer; border-radius: 50%; -webkit-border-radius:50%; margin: 0; font-size: 1.5em !important}

.modal-header, .modal-footer {border: 0}
.progress {height:10px;}

#myCarousel {position: absolute;top: 0;left: 0; width: 100%;}

.alert-warning{border: 0;}
//modal
.modal-dialog{width: 900px !important;}

/* Estilos propios María */

/* HEADER */
h1, h2 {font-weight: 300}
h2 {font-size: 1.750em;}
h3 {font-size: 1.4em; font-weight: 300}

header {background: #F4F4F2; position: relative; z-index: 1000;}

.logo {padding: 0.125em 0; margin-top: 0.8em; font-size: 2em; font-weight: 400; color: #333131 !important}
.logo a, .logo:hover a {color: #333131 !important}

.imagenslider1{background-image: url(../images/1.jpg) !important; height: 100%;}
.imagenslider2{background-image: url(../images/2.jpg) !important; height: 100%;}
.imagenslider3{background-image: url(../images/3b.jpg) !important; height: 100%;}
.imagenslider4{background-image: url(../images/4b.jpg) !important; height: 100%;}
.imagenslider5{background-image: url(../images/5.jpg) !important; height: 100%;}
.redes{position: absolute; top:200px; right: 0px; width: 42px; height: 100px; background:rgba(255,255,255,0.5);  padding: 10px;}
.redes a {background-image: url(../images/sprites.png); display: inline-block; width: 24px; height: 24px;}
.facebook{background-position: 0px -24px;}
.facebook:hover{background-position:  0px 0px;}
.pinterest{background-position:-48px -24px}
.pinterest:hover{background-position:-48px 0px}
.instagram{background-position: -72px -72px;}
.instagram:hover{background-position:-72px 0px;}

.boton-idioma {float: right; }
.boton-idioma a{color:#fff; font-family: 14px;display:inline-block;text-decoration: none;width: 24px; height: 19px; background: #3F3939; margin-right: 3px;}

/* Efecto Hover sobre las imágenes */
figcaption {display: table}
figcaption p {display: inline-block; vertical-align: middle;}

/*CONTACTOS*/
.contenedorcontacto{margin: 0 auto; width:100%;padding: 50px}
.col-info{height: 430px;background:#F4F4F2;padding: 150px 0 0 50px;}
.col-info p{color:#333131;}
.col-form{background: #E0E0DC;height: 430px;padding: 50px;}
textarea.form-control {height: 120px !important;}
.formulario li {margin-top: -10px;}

button.submit{background-color:#5E5C5C;color: #5B5B5E; width: 100px;height: 36px;color:#fff;float: right;}



.moduloPortComp {min-height: 360px}


/* -- A D M I N --*/
.imgCargada {background: #fff}
.resultadoImgCargada h3 {margin-top: 16px !important;}

.divCargaImg .fa-lg {font-size: 1.2em; color:#286090; cursor: pointer }

.copy {font-size: 0.8em; color: #676767; text-align: center;}

/* -- M E D I A  Q U E R Y -- */
@media screen and (max-width: 1000px) {
	#menuPrincipal a {padding: 0 1.250em !important }

}


@media screen and (max-width: 768px) {

	header {padding-bottom: 1em}
	.divMenu {float: left; width: 100%}
	#menuPrincipal {height: auto !important;} 
	#menuPrincipal a {height: 40px; line-height: 40px; font-size: 1.250em;}
	.navbar-collapse {border: 0 !important;}
	.navbar-default {width: 100%;}
        .navbar-nav {margin: 7.5px 0px;}
        .redes{display: none;}
	.logo {position: absolute;}
}

@media screen and (max-width: 550px) {

	.col-xs-4 {width: 50%}
	.grid .effect-milo figcaption {	width: auto; height: auto; padding: 2em 1em}
	.grid .effect-milo p {font-size: 0.8em;}
	div.effect-milo p {
	/*padding: 40% 10px 0 0;*/
	width: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


}

@media screen and (max-width: 340px) {

	.col-xs-4 {width: 100%}
}